services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      - ENV=dev
    env_file:
      - .env.local
    volumes:
      - .:/app
    working_dir: /app
    command: npm run dev

  dynamodb-cap:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    ports:
      - "9090:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  provenance:
    image: ghcr.io/icebreakerone/provenance-service:latest
    # build:
    #   context: ../../provenance-service
    #   dockerfile: Dockerfile.dev
    environment:
      - ROOT_CA_CERTIFICATE=/app/certs/signing/root-ca.pem
      - SIGNING_KEY=/app/certs/signing/key.pem
      - SIGNING_BUNDLE=/app/certs/signing/issued-intermediate-bundle.pem
      - SCHEME_URI=https://registry.core.sandbox.trust.ib1.org/scheme/perseus
    ports:
      - "8081:8080"
    volumes:
      - ./certs/cap-demo-certs:/app/certs
      - ../../provenance:/app/provenance
