@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0070f3;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  font-size: 16px;
  color: #000000;
  overflow: hidden;
}

main {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}